<form
  method="{$method}"
  action="/api/goods"
  onsubmit="return false"
  class:container="!!textarea"
>
  <input value="{$form.id}" name="id" hidden>
  <input value="{$form.auth}" name="auth" hidden>
  {#if !!$curItem && !textarea}
    <div>
      <textarea
        on:input="$setFormArr('images',this.value,'\n',250)"
        value="{$form.images?$form.images.join('\n'):''}"
        placeholder="Image URLs, one per line"
        aria-label="Image URLs, one per line"
      ></textarea>
      <img
        src="{$_images.goods[$curItem.id]||$empty}"
        on:click="this.nextElementSibling.click()"
        on:error="$repairImage(this)"
        title="Change main image"
        alt="Change main image"
      >
      <input
        on:input="$uploadImage(event)"
        accept="image/*"
        name="image"
        type="file"
        hidden
      >
    </div>
    <hr>
  {/if}
  <div hidden="{!!textarea}">
    <input
      on:input="$setForm(this.value,'type')"
      value="{$form.type}"
      placeholder="Type"
      aria-label="Type"
      maxLength="35"
      name="type"
      type="text"
    >
    <input
      on:input="$setForm(this.value,'title')"
      value="{$form.title}"
      placeholder="Title"
      aria-label="Title"
      maxLength="35"
      name="title"
      type="text"
    >
    <input
      on:input="$setForm(this.value,'price')"
      value="{$form.price}"
      placeholder="Price"
      aria-label="Price"
      maxLength="35"
      name="price"
      type="text"
    >
  </div>
  <hr hidden="{!!textarea}">
  <button
    hidden="{!textarea}"
    aria-label="Close"
    title="Close"
  >Close</button>
  <textarea
    on:input="$setForm(this.value,'text')"
    on:focus="set({textarea:true})"
    on:blur="set({textarea:false})"
    placeholder="Description"
    aria-label="Description"
    value="{$form.text}"
    maxLength="5000"
    name="text"
    rows="4"
  ></textarea>
  <hr>
  {#if !textarea}
    <Table /><hr>
  {/if}
  <div hidden="{!!textarea}">
    <input
      on:click="$DELETE($hashType,$curItem.id)"
      hidden="{!$curItem}"
      disabled="{$busy}"
      value="Delete"
      type="button"
      class="red"
    >
    <input
      on:click="$PUST({form:$form,formErrs})"
      value="{$message||formErrs||'Submit'}"
      disabled="{!!formErrs||$busy}"
      class:red="!!$message"
      type="submit"
    >
    <input
      on:click="$closeModal()"
      value="Cancel"
      type="button"
    >
  </div>
</form>

<script>
export default {
  immutable: true,
  components: {
    Table: './tableForm.html'
  },
  computed: {
    formErrs: ({ $form }) => {
      if (!$form.title && !$form.type && !$form.price) return '\n'
      const title = !$form.title ? 'Title required' : ''
      const type = !$form.type ? 'Type required' : ''
      const price = !$form.price ? 'Price required' : ''
      const text = !$form.text ? 'Description required' : ''
      return title || type || price || text
    }
  },
  oncreate() {
    const { curItem, _goodsEdit, _goodsAdd, _id } = this.store.get()
    let form = {}
    if (!!curItem) form = !!_goodsEdit && curItem.id === _goodsEdit.id ? _goodsEdit : curItem
    else form = !!_goodsAdd && (!!_goodsAdd.title || !!_goodsAdd.text) ? _goodsAdd :
      { id: '', title: '', type: '', price: '', text: '', Table: {} }
    if (!form.arr) {
      const Table = form.Table || {}; form.arr = []
      Object.entries(Table).forEach(arr => form.arr.push({ key: arr[0], value: arr[1] }))
    }
    this.store.set({ form })
  }
}
</script>
