<strong>
  { $curItem.title || '' }
</strong>
<img
  class="loading"
  src="{images[$imgIndex||0]}"
  alt="{$curItem.title}"
  on:click="$closeModal()"
  on:error="$repairImage(this)"
  on:load="$showImage(this)"
>
<figure>
  {#each images as img, imgIndex}
    <button
      on:click="$set({imgIndex})"
      class="loading"
      class:disabled="imgIndex===$imgIndex"
      tabindex="{imgIndex+5}"
    >
      <img src="{img}"
        on:load="$showImage(this.parentNode)"
        alt="{$curItem.title}"
      >
    </button>
  {/each}
</figure>
<script>
export default {
  immutable: true,
  computed: {
    images: ({ $curItem }) => {
      const images = [`/img/goods_${$curItem.id}.jpg`]
      return images.concat(($curItem.images || []))
    },
    hack: ({ $imgIndex, images }) => {
      if (images.length <= $imgIndex) store.set({ imgIndex: 0 })
    }
  }
}
</script>
