<svelte:window
  on:load="$set({busy:false})"
  on:keydown="keydown(event)"
  bind:innerWidth
/>

<svelte:head>
  <title>{`${$online ? 'ComiCo' : 'OffLine'}${$comments.activity.count ? ' +' + $comments.activity.count : ''} • ${($message || $_modal || $title).toLowerCase()}`}</title>
</svelte:head>

<section class="{$hash.type}" class:alone="$isAlone">
  {#if $isGood}
    <Goods />
  {:elseif $isPost}
    <Posts />
  {:elseif $isUser}
    <Users />
  {/if}
</section>

{#if !!$curItem}
  <section class="comments">
    <Comms />
  </section>
{/if}

<script>
export default {
  immutable: true,
  components: {
    Goods: './goods.html',
    Posts: './posts.html',
    Users: './users.html',
    Comms: './cmnts.html'
  },
  methods: {
    keydown(e) {
      if (e.keyCode === 27) this.store.goBack()
      if (!e.altKey) return
      if (e.keyCode === 83) this.store.nextPage()
      if (e.keyCode === 65) this.store.prevPage()
      if (e.keyCode === 81) this.store.prevItem()
      if (e.keyCode === 87) this.store.nextItem()
      if (e.keyCode === 71) this.store.changeType('goods')
      if (e.keyCode === 80) this.store.changeType('posts')
      if (e.keyCode === 85) this.store.changeType('users')
      if (e.keyCode === 82 && this.store.get().isSigned) {
        if (!this.store.get().isActivity) this.store.openModal('activity')
        else this.store.closeModal()
      }
      if (e.keyCode === 84) this.store.set({ _isDarkTheme: !this.store.get()._isDarkTheme })
      if (e.keyCode === 89) this.store.set({ _isScribes: !this.store.get()._isScribes })
      if (e.keyCode === 88) {
        if (!this.store.get().isImage) scrollTo(0, 999999)
        else {
          const { imgIndex, curItem } = this.store.get()
          if (!!curItem && !!curItem.images && !!curItem.images.length)
            this.store.set({ imgIndex: imgIndex + 1 })
        }
      }
      if (e.keyCode === 90) {
        if (!this.store.get().isImage) scrollTo(0, 0)
        else {
          const { imgIndex } = this.store.get()
          if (!!imgIndex) this.store.set({ imgIndex: imgIndex - 1 })
        }
      }
      if (e.keyCode === 86) {
        const { hashType, curItem, isImage } = this.store.get()
        if (!!curItem && hashType === 'goods') this.store.openModal('image')
        if (!!curItem && hashType === 'goods' && isImage) this.store.closeModal()
      }
      if (e.keyCode === 67) {
        if (this.store.get().isAlone) {
          const comment = document.querySelector('header textarea')
          if (!!comment) comment.focus()
        } else {
          const search = document.querySelector('input[type=search]')
          if (!!search) search.focus()
        }
      }
    }
  },
  computed: {
    width: ({ innerWidth }) => {
      const body = document.body.classList
      return innerWidth > 760 ? body.remove('phone') : body.add('phone')
    },
    busy: ({ $busy }) => {
      const body = document.body.classList
      return !$busy ? body.remove('busy') : body.add('busy')
    },
    modal: ({ $isModal }) => {
      const body = document.body.classList
      return $isModal ? body.add('modal') : body.remove('modal')
    },
    dark: ({ $_isDarkTheme }) => {
      const body = document.body.classList
      return $_isDarkTheme ? body.add('dark') : body.remove('dark')
    }
  }
}
</script>
