<form
  method="{$method}"
  action="/api/posts"
  onsubmit="return false"
  class:container="!!textarea"
>
  <input value="{$form.id}" name="id" hidden>
  <input value="{$form.auth}" name="auth" hidden>
  <input
    on:input="$setForm(this.value,'title')"
    hidden="{!!textarea}"
    value="{$form.title}"
    placeholder="Title"
    aria-label="Title"
    maxLength="35"
    name="title"
    type="text"
  >
  <hr hidden="{!!textarea}">
  <input
    on:input="$setForm(this.value,'type')"
    hidden="{!!textarea}"
    value="{$form.type}"
    placeholder="Type"
    aria-label="Type"
    maxLength="35"
    name="type"
    type="text"
  >
  <hr hidden="{!!textarea}">
  <button
    hidden="{!textarea}"
    aria-label="Close"
    title="Close"
  >Close</button>
  <textarea
    on:input="$setForm(this.value,'text')"
    on:focus="set({textarea:true})"
    on:blur="set({textarea:false})"
    value="{$form.text}"
    placeholder="Text"
    aria-label="Text"
    maxLength="5000"
    name="text"
    rows="4"
  ></textarea>
  <hr>
  <div hidden="{!!textarea}">
    <input
      on:click="$DELETE($hashType,$curItem.id)"
      hidden="{!$curItem}"
      disabled="{$busy}"
      value="Delete"
      type="button"
      class="red"
    >
    <input
      on:click="$PUST({form:$form,formErrs})"
      value="{$message||formErrs||'Submit'}"
      disabled="{!!formErrs||$busy}"
      class:red="!!$message"
      type="submit"
    >
    <input
      on:click="$closeModal()"
      value="Cancel"
      type="button"
    >
  </div>
</form>

<script>
export default {
  immutable: true,
  computed: {
    formErrs: ({ $form }) => {
      if (!$form.title && !$form.type) return '\n'
      const title = !$form.title ? 'Title required' : ''
      const type = !$form.type ? 'Type required' : ''
      const text = !$form.text ? 'Text required' : ''
      return title || type || text
    }
  },
  oncreate() {
    const { curItem, _postsEdit, _postsAdd, _id } = this.store.get()
    let form = {}
    if (!!curItem) form = !!_postsEdit && curItem.id === _postsEdit.id ? _postsEdit : curItem
    else form = !!_postsAdd && (!!_postsAdd.title || !!_postsAdd.text) ? _postsAdd :
      { id: '', title: '', type: '', text: ''}
    this.store.set({ form })
  }
}
</script>
